<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/check_user" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
        <br>
        <label>
            if you don't have an account, please <a href="/register">register</a>
        </label>
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <a href="/">Back to Home</a>
</html>