<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <div class="menu">
  <div class="menu-item appetizers-row">
    <h2>Appetizers</h2>
    <div class="menu-row">
      <div class="menu-entry">
        <p>Bruschetta</p>
        <img src="/static/dishes/bruschetta.png" alt="Bruschetta">
      </div>
      <div class="menu-entry">
        <p>Guacamole</p>
        <img src="static/dishes/guacamole.jpg" alt="Stuffed Mushrooms">
      </div>
      <div class="menu-entry">
        <p>Garlic Bread</p>
        <img src="static/dishes/garlic bread.jpg" alt="Garlic Bread">
      </div>
    </div>
  </div>

  <div class="menu-item maincourses-row">
    <h2>Main Courses</h2>
    <div class="menu-row">
      <div class="menu-entry">
        <p>Grilled Salmon</p>
        <img src="static/dishes/grilled salmon.jpg" alt="Grilled Salmon">
      </div>
      <div class="menu-entry">
        <p>Chicken Alfredo</p>
        <img src="/static/dishes/chicken alfredo.jpg" alt="Chicken Alfredo">
      </div>
      <div class="menu-entry">
        <p>Vegetable Stir-fry</p>
        <img src="/static/dishes/stir-fried-vegetables.jpg" alt="Vegetable Stir-fry">
      </div>
    </div>
  </div>

  <div class="menu-item desserts-row">
    <h2>Desserts</h2>
    <div class="menu-row">
      <div class="menu-entry">
        <p>Tiramisu</p>
        <img src="/static/dishes/tiramisu.jpg" alt="Tiramisu">
      </div>
      <div class="menu-entry">
        <p>Cheesecake</p>
        <img src="/static/dishes/cheesecake.jpg" alt="Cheesecake">
      </div>
      <div class="menu-entry">
        <p>Chocolate Mousse</p>
        <img src="/static/dishes/chocolate mouse.jpg" alt="Chocolate Mousse">
      </div>
    </div>
  </div>

  <a href="/">Back to Home</a>
</div>


</body>
</html>